{% load center_extra %}
<ul class="nav nav-tabs">
    <li role="presentation" class="{% nav_active request.path 'information' %}">
        <a href="{% url 'course:information' coursedata.id %}">信息</a>
    </li>
    {% if courseperms or perms.checkin_view %}
        <li role="presentation" class="{% nav_active request.path 'lesson_data' %}" id="lesson_tag"
            {% if not coursedata.status %}
            style="display: none;"
            {% endif %}
        >
            <a href="{% url 'checkin:jumptolesson_data' coursedata.id %}">考勤</a>
        </li>
    {% endif %}
    <li role="presentation" class="{% nav_active request.path 'resource' %}">
        <a href="{% url 'course:resource' coursedata.id %}">资源</a>
    </li>
    <li role="presentation" class="{% nav_active request.path 'homework' %}">
        <a href="{% url 'course:homework' coursedata.id %}">作业</a>
    </li>
    {% if courseperms or perms.checkin_view %}
        <li role="presentation" class="{% nav_active request.path 'course_data' %}">
            <a href="{% url 'checkin:course_data' coursedata.id %}">数据</a>
        </li>
        <li role="presentation" class="{% nav_active request.path 'studentcourse' %}">
            <a href="{% url 'course:studentcourse' coursedata.id %}">学生</a>
        </li>
    {% endif %}
    {% if courseperms %}
        <li role="presentation" class="{% nav_active request.path 'sendmessage' %}">
            <a href="{% url 'course:sendmessage' coursedata.id %}">消息</a>
        </li>
        <li role="presentation" class="{% nav_active request.path 'settings' %}">
            <a href="{% url 'course:settings' coursedata.id %}">设置</a>
        </li>
    {% endif %}
</ul>