{% extends 'base.html' %}
{% load staticfiles %}
{% load course_extra %}
{% load checkin_extra %}
{% load center_extra %}
{% block title %}课程信息{% endblock %}
{% block page_css %}
    <link href="{% static 'plugins/toastr-master/toastr.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block page_js %}
    <script src="{% static 'plugins/toastr-master/toastr.js' %}"></script>
{% endblock %}


{% block content %}
    <!-- page start-->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header text-center">
                    <h3 class="box-title">[{{ coursedata.title }}]</h3>
                </div>
                <div class="box-body">
                    <!--<h1>New Dashboard BS3 </h1>-->
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <p><span class="bold">任课教师: </span>: {{ coursedata.teacher.name }}</p>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <p><span class="bold">状态 </span>: <span
                                    class="label label-primary">{{ coursedata.status|COURSE_STATUS }}</span></p>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <p><span class="bold">所属学期 </span>: <a
                                    href="{% url 'course:list' %}?schoolterm={{ coursedata.schoolterm }}">{{ coursedata.schoolterm }}</a>
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <p><span
                                    class="bold">最后上课时间</span>: {{ coursedata.lastlessontime|date:'Y-m-d H:i:s'|default:'未上课' }}
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <p><span class="bold">教室 </span>: {{ coursedata.location }}</p>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <p><span class="bold">人数 </span>: {{ coursedata.number }}</p>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <p><span class="bold">开课专业 </span>: <a
                                    href="{% url 'course:list' %}?major={{ coursedata.major.name }}">{{ coursedata.major.name | default:"无" }}</a>
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <p><span class="bold">开课系所 </span>: <a
                                    href="{% url 'course:list' %}?department={{ coursedata.department.name }}">{{ coursedata.department.name }}</a>
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <p><span class="bold">上课时间 </span>: {{ coursedata.time }}</p>
                        </div>

                        <div class="col-lg-12">
                            <dl>
                                <dt>课程进度:</dt>
                                <dd>
                                    <div class="progress progress-striped active ">
                                        <div style="width: {{ coursedata.progress }}%;"
                                             class="progress-bar progress-bar-success"></div>
                                    </div>
                                    <small>课程进度已完成 <strong>{{ coursedata.progress }}%</strong>
                                    </small>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    {% if courseperms or perms.checkin_view %}
                        <div class="row">
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-info btn-block"
                                        onclick="window.location.href = '{% url 'checkin:course_data' coursedata.id %}'">
                                    签到数据
                                </button>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-primary btn-block"
                                        onclick="window.location.href = '{% url 'course:studentcourse' coursedata.id %}'">
                                    学生列表
                                </button>
                            </div>
                        </div>
                    {% endif %}
                </div>

            </div>
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">课程列表</h3>
                </div>
                <div class="box-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>节数</th>
                            <th class="hidden-xs">时间</th>
                            {% if courseperms %}
                                <th>应到</th>
                                <th>实到</th>
                            {% endif %}
                            <th class="hidden-xs">开始时间</th>
                            <th class="hidden-xs">结束时间</th>
                            <th>状态</th>
                            {% if courseperms %}
                                <th>其他</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for lesson in lessondata %}
                            <tr class="lessontr" data-lessonid="{{ lesson.id }}"
                                data-lessonstatus="{{ lesson.status }}">
                                <td>
                                    {{ forloop.counter }}
                                </td>
                                <td class="hidden-xs">
                                    第{{ lesson.week }}周{{ lesson.day|weekdeal }}
                                    ,第{{ lesson.time }}-{{ lesson.time|add:lesson.length|add:-1 }}节
                                </td>
                                {% if courseperms %}
                                    <td>
                                        {{ lesson.shouldnumber }}
                                    </td>
                                    <td>
                                        {{ lesson.actuallynumber|default:'没有数据' }}
                                    </td>
                                {% endif %}
                                <td class="hidden-xs lesson-starttime">
                                    {{ lesson.starttime|date:'Y-m-d H:i:s'|default:'还未开始' }}
                                </td>
                                <td class="hidden-xs lesson-endtime">
                                    {{ lesson.endtime|date:'Y-m-d H:i:s'|default:'还未结束' }}
                                </td>
                                <td>
                                    <span class="label label-{{ lesson.status|LESSON_STATUS_STYLE }} lesson-status">{{ lesson.status|LESSON_STATUS }}</span>
                                </td>
                                {% if courseperms %}
                                    <td>
                                        <button type="button" class="control-lessonenter btn btn-xs btn-success"
                                                onclick="window.location.href = '{% url 'checkin:lesson_data' lesson.id %}'">
                                            进入课程
                                        </button>
                                        <div class="btn-group">
                                            <button data-toggle="dropdown"
                                                    class="btn btn-primary dropdown-toggle btn-xs control-panel"
                                                    type="button" aria-expanded="false">操作 <span class="caret"></span>
                                            </button>
                                            <ul role="menu" class="dropdown-menu">
                                                <li><a class="control-checkinstart"
                                                       href="{% url 'checkin:startcheckin' lesson.id %}">开始签到</a></li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a class="control-lessonstart">设为课程开始</a>
                                                </li>
                                                <li>
                                                    <a class="control-lessonstop"
                                                       data-lessonid="{{ lesson.id }}">设为课程结束</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        {% comment %}
        <div class="col-md-4">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">课程简介[这个功能还没做完]</h3>
                </div>
                <div class="box-body">

                    <p>
                        C语言程序设计是高等院校计算机专业及相关专业重要的专业基础课，其目的是培养学生的程序设计理念、掌握程序设计的基本方法，为后续课程（数据结构、面向对象程序设计、操作系统、编译原理和软件工程等）打下坚实的基础。
                        C语言程序设计是一门实践性很强的课程，学生从一开始，普遍给予很高的热情。对于把目标定位在提高实践应用能力的淮海工学院计算机科学系来说，更应该从一开始就很下功夫，尽可能早的让学生对程序设计产生浓厚的兴趣。与其他院校相比，本课题组的绝大部分成员虽年青但有活力，更重要的是有着丰富的工作经历和很强的动手能力，对该门课程有很深的感悟，能很好的把教学与实践应用结合在一起。
                        C语言程序设计的前期课程通常有计算机导论（或计算机文化基础）。目前，各大专院校的教学内容都是基于Windows 98/2000/XP操作系统，但讲授到C语言程序设计课程时，又大多以Turbo
                        C为环境，即退回到了DOS操作系统环境下，这样造成两个层次的脱节。有一部分学校使用的教材是基于Turbo C环境的，而学生上机实验环境又采用Visual
                        C++等，虽然两者类似，但毕竟有较大差异，不便于提高学生的动手能力。因此在讲授该课程时，我们对传统的讲授方法进行了改进，完全以Visual
                        C++为环境讲授C语言程序设计的基本思想、方法和解决实际问题的技巧，并比较了Turbo C和Visual C++之间的一些差异，兼顾了以Turbo C为学习环境的读者。
                    </p>
                    <br/>
                    <h5 class="bold">课程类型</h5>
                    <ul class="nav nav-pills nav-stacked labels-info ">
                        <li><i class=" fa fa-circle text-danger"></i> 公共选修课</li>
                    </ul>

                    <br/>
                    <h5 class="bold">课程文件</h5>
                    <ul class="list-unstyled">
                        <li><a href=""><i class="fa fa-file-text"></i> 课程介绍.docx</a></li>
                        <li><a href=""><i class="fa fa-picture-o"></i> 课程大纲.jpg</a></li>
                        <li><a href=""><i class="fa fa-mail-forward"></i> 教材.mln</a></li>
                        <li><a href=""><i class="fa fa-file"></i> 文档.docx</a></li>
                    </ul>
                    <br/>

                    <h5 class="bold">Project Tags</h5>
                    <ul>
                        <li><a href=""><i class="fa fa-tag"></i> Dlor</a></li>
                        <li><a href=""><i class="fa fa-tag"></i> Lorem ipsum</a></li>
                        <li><a href=""><i class="fa fa-tag"></i> Google</a></li>
                        <li><a href=""><i class="fa fa-tag"></i> Excellent</a></li>
                        <li><a href=""><i class="fa fa-tag"></i> Dlor</a></li>
                        <li><a href=""><i class="fa fa-tag"></i> Lorem ipsum</a></li>
                        <li><a href=""><i class="fa fa-tag"></i> Google</a></li>
                        <li><a href=""><i class="fa fa-tag"></i> Excellent</a></li>
                    </ul>

                    <div class="text-center">
                        <a href="#" class="btn btn-sm btn-primary">Add files</a>
                        <a href="#" class="btn btn-sm btn-warning">Report contact</a>
                    </div>
                </div>

            </div>
        </div>
        {% endcomment %}
    </div>
    <!-- page end-->


{% endblock %}
{% block page_script %}
    <script>
        {% LESSON_STATUS_JSON as lesson_status_json %}
        lesson_status_json ={{ lesson_status_json|safe }};
        {% LESSON_STATUS_STYLE_JSON as lesson_status_style_json %}
        lesson_status_style_json ={{ lesson_status_style_json|safe }};
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        /*function hidepanelforunopenedlesson() {
            $(".lessontr").each(function () {
                status = $(this).data('lessonstatus');
                var statustext = lesson_status_json[status];
                var controlpanel = $(this).find('.control-panel');
                if (statustext == '正在上课') {
                    controlpanel.show()
                } else {
                    controlpanel.hide()
                }
            });
        }
        function showpanelforunclosedlesson() {
            $(".lessontr").each(function () {
                status = $(this).data('lessonstatus');
                var statustext = lesson_status_json[status];
                var controlpanel = $(this).find('.control-panel');
                if (statustext == '课程结束') {
                    controlpanel.hide()
                } else {
                    controlpanel.show()
                }
            });
        }*/
        function changelessonstatus(lessonid, status) {
            var lessontr = $('.lessontr[data-lessonid=' + lessonid + ']');
            if (typeof(status) == "undefined") {
                status = lessontr.data('lessonstatus');
            } else {
                lessontr.data('lessonstatus', status);
            }
            statustext = lesson_status_json[status];
            starttimetd = lessontr.find('.lesson-starttime');
            endtimetd = lessontr.find('.lesson-endtime');
            statusspan = lessontr.find('.lesson-status');
            enterlesson = lessontr.find('.control-lessonenter');
            startcheckin = lessontr.find('.control-checkinstart');
            startlesson = lessontr.find('.control-lessonstart');
            stoplesson = lessontr.find('.control-lessonstop');
            controlpanel = lessontr.find('.control-panel');
            statusspan.text(statustext);
            statusspan.attr('class', 'lesson-status label label-' + lesson_status_style_json[status]);
            if (statustext == '正在上课') {
                startcheckin.show();
                stoplesson.show();
                startlesson.hide();
                enterlesson.attr('class', 'control-lessonenter btn btn-xs btn-success');
            } else if (statustext == '未开始') {
                if (lesson_status_json[lessontr.prev().data('lessonstatus')] == "课程结束") {
                    enterlesson.attr('class', 'control-lessonenter btn btn-xs btn-success');
                } else {
                    enterlesson.attr('class', 'control-lessonenter btn btn-xs btn-default');
                }
                startcheckin.hide();
                stoplesson.hide();
                startlesson.show();
            } else if (statustext == '正在签到') {
                startcheckin.show();
                stoplesson.hide();
                startlesson.hide();
                enterlesson.attr('class', 'control-lessonenter btn btn-xs btn-success');
            } else {
                controlpanel.hide();
                enterlesson.attr('class', 'control-lessonenter btn btn-xs btn-danger');
            }
        }
        $(".lessontr").each(function () {
            var lessonid = $(this).data('lessonid');
            changelessonstatus(lessonid);
            var $controlstart = $(this).find('.control-lessonstart');
            $controlstart.click(function () {
                $.ajax({
                    url: '{% url 'course:control.startlesson' %}',
                    type: 'GET',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: {
                        lessonid: lessonid
                    },
                    success: function (data) {
                        if (data.error != 0) {
                            toastr['error'](data.message, "操作失败");
                        } else {
                            toastr['success'](data.message, "操作成功");
                            changelessonstatus(lessonid, data.newstatus);
                            //hidepanelforunopenedlesson();
                        }
                    }, error: function (XMLHttpRequest, textStatus) {
                        toastr['error'](textStatus, "与服务器连接失败");
                    }
                });
            });
            var $controlstop = $(this).find('.control-lessonstop');
            $controlstop.click(function () {
                $.ajax({
                    url: '{% url 'course:control.stoplesson' %}',
                    type: 'GET',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: {
                        lessonid: lessonid
                    },
                    success: function (data) {
                        if (data.error != 0) {
                            toastr['error'](data.message, "操作失败");
                        } else {
                            toastr['success'](data.message, "操作成功");
                            changelessonstatus(lessonid, data.newstatus);
                            //showpanelforunclosedlesson();
                        }
                    }, error: function (XMLHttpRequest, textStatus) {
                        toastr['error'](textStatus, "与服务器连接失败");
                    }
                });
            });
        });
        //hidepanelforunopenedlesson();
        //showpanelforunclosedlesson();
    </script>
{% endblock %}