{% extends 'base.html' %}
{% load staticfiles %}
{% load school_extra %}
{% block title %}课程列表{% endblock %}
{% block page_css %}
    <link href="{% static 'plugins/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'plugins/chosen/chosen1.1.css' %}">
{% endblock %}
{% block page_js %}
    <script src="{% static 'plugins/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/bootstrap-table-contextmenu/dist/bootstrap-table-contextmenu.min.js' %}"></script>
    <script src="{% static 'plugins/chosen/chosen.jquery.min.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">课程列表</h3>
                </div>
                <div class="box-body">
                    <div class="adv-table">
                        <div id="custom-toolbar">
                            <div class="form-inline" role="form">
                                <div class="form-group">
                                    <select name="major" id="major" data-placeholder="开课专业">
                                        <option value selected></option>
                                        {% getmajor as majordata %}
                                        {% for key, value in  majordata.items %}
                                            <optgroup label="{{ key }}">
                                                <option value="*{{ key }}">全部</option>
                                                {% for m in value %}
                                                    <option value="{{ m }}">{{ m }}</option>
                                                {% endfor %}
                                            </optgroup>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="viewType2" id="schoolterm" data-placeholder="学年学期">
                                        <option value selected></option>
                                        {% getterm as termdata %}

                                        {% for m in termdata %}
                                            {% if m == term.term %}
                                                <option value="{{ m }}" selected>{{ m }}</option>
                                            {% else %}
                                                <option value="{{ m }}">{{ m }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                {% comment %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> 我的课程
                                    </label>
                                </div>
                                <!--<button type="submit" class="btn btn-default">高级搜索</button>-->
                            {% endcomment %}
                            </div>
                        </div>
                        <table id="table"
                               data-toggle="table"
                               data-search="true"
                               data-show-refresh="true"
                               data-show-toggle="true"
                               data-show-columns="true"
                               data-show-export="true"
                               data-minimum-count-columns="2"
                               data-pagination="true"
                               data-id-field="id"
                               data-page-size="5"
                               data-page-list="[5,10, 25, 50, 100, ALL]"
                               data-side-pagination="server"
                               data-url="{% url 'course:course_data' %}"
                               data-toolbar="#custom-toolbar"
                               data-striped="true"
                               data-query-params="queryParams"
                               data-search-text="{{ request.GET.search }}"
                        >

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page end-->
    {% if perms.checkin_view %}
        <ul id="example2-context-menu" class="dropdown-menu">
            <li data-item="studentlist"><a>学生列表</a></li>
            <li data-item="checkindata"><a>考勤数据</a></li>
        </ul>
    {% endif %}
{% endblock %}
{% block page_script %}
    <script>
        {% if request.GET.major %}
            $("#major").find("option[value='{{ request.GET.major }}']").attr('selected', true);
        {% elif request.GET.department %}
            $("#major").find("option[value='*{{ request.GET.department }}']").attr('selected', true);
        {% endif %}
        {% if request.GET.schoolterm %}
            $("#schoolterm").find("option[value='{{ request.GET.schoolterm }}']").attr('selected', true);
        {% endif %}



        $.extend($.fn.bootstrapTable.defaults, $.fn.bootstrapTable.locales['zh-CN']);
        var $table = $('#table');
        columns = [{
            field: 'title',
            title: '课程名称',
            searchable: true,
            formatter: identifierFormatter
        }, {
            field: 'serialnumber',
            title: '课程编号'
        }, {
            field: 'time',
            title: '上课时间'
        }, {
            field: 'location',
            title: '上课地点',
            visible: false
        }, {
            field: 'teacher',
            title: '教师'
        }, {
            field: 'major',
            title: '开课专业',
            visible: false
        }, {
            field: 'department',
            title: '开课系所'
        }, {
            field: 'number',
            title: '人数',
            sortable: true
        }, {
            field: 'schoolterm',
            title: '学年学期',
            visible: false
        }];
        {% if perms.checkin_view %}
            function operateFormatter(value, row, index) {
                return [
                    '<div class="btn-group btn-group-xs">',
                    '    <button type="button" class="btn btn-default dropdown-toggle example2-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">',
                    '        <span class="caret"></span>',
                    '        <span class="sr-only">查看</span>',
                    '    </button>',
                    '</div>'
                ].join('');
            }
            columns.push({
                field: 'operate',
                title: '操作',
                align: 'center',
                formatter: operateFormatter
            });
            $table.bootstrapTable({
                columns: columns,
                contextMenu: '#example2-context-menu',
                contextMenuButton: '.example2-button',
                onContextMenuItem: function (row, $el) {
                    if ($el.data("item") == "studentlist") {
                        window.location.href = '{% url 'course:studentcourse' 0 %}' + row.id;
                    } else if ($el.data("item") == "checkindata") {
                        window.location.href = '{% url 'checkin:course_data' 0 %}' + row.id;
                    }
                }
            });
        {% else %}
            $table.bootstrapTable({
                columns: columns
            });
        {% endif %}
        function queryParams(params) {
            params['schoolterm'] = $('#schoolterm').val();
            params['major'] = $('#major').val();
            return params;
        }
        function identifierFormatter(value, row, index) {
            var clickurl = "{% url 'course:information' 0 %}";
            clickurl = clickurl.substring(0, clickurl.length - 1);
            return "<a href='" + clickurl + row.id + "'>" + value + "</a>";
        }

        $('#major').chosen({allow_single_deselect: true, include_group_label_in_selected: true});
        $('#schoolterm').chosen({allow_single_deselect: true});

        $('#schoolterm').on('change', function (evt, params) {
            $table.bootstrapTable('refresh');
        });
        $('#major').on('change', function (evt, params) {
            $table.bootstrapTable('refresh');
        });


    </script>
{% endblock %}