{% extends 'base.html' %}
{% load static %}
{% load checkin_extra %}
{% block title %}课程资源 - {{ coursedata.title }}{% endblock %}
{% block page_js %}
    {% if request.GET.manage == '1' %}
        <script src="{% static 'plugins/bootstrap-fileinput/js/fileinput.min.js' %}"></script>
        <script src="{% static 'plugins/bootstrap-fileinput/js/locales/zh.js' %}"></script>
        <script src="{% static 'plugins/bootstrap-fileinput/themes/explorer/theme.js' %}"></script>
        <script src="{% static 'js/csrf.js' %}"></script>
    {% endif %}
{% endblock %}
{% block page_css %}
    {% if not request.GET.manage == '1' %}
        <style>
            .file-box {
                float: left;
                width: 300px;
            }

            .file {
                border: 1px solid #e7eaec;
                padding: 0;
                background-color: #ffffff;
                position: relative;
                margin-bottom: 20px;
                margin-right: 20px;
            }

            .file .icon,
            .file .image {
                height: 100px;
                overflow: hidden;
            }

            .file .icon {
                padding: 15px 10px;
                text-align: center;
            }

            .file .icon i {
                font-size: 70px;
            }

            .file .file-name {
                padding: 10px;
                background-color: #f8f8f8;
                border-top: 1px solid #e7eaec;
                width: 280px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .file-name small {
                color: #676a6c;
            }

            .corner {
                position: absolute;
                display: inline-block;
                width: 0;
                height: 0;
                line-height: 0;
                border: 0.6em solid transparent;
                border-right: 0.6em solid #f1f1f1;
                border-bottom: 0.6em solid #f1f1f1;
                right: 0em;
                bottom: 0em;
            }
        </style>
    {% else %}
        <link href="{% static 'plugins/bootstrap-fileinput/css/fileinput.min.css' %}" media="all" rel="stylesheet"
              type="text/css"/>
        <link href="{% static 'plugins/bootstrap-fileinput/themes/explorer/theme.css' %}" media="all" rel="stylesheet"
              type="text/css"/>
    {% endif %}
{% endblock %}
{% block beforecontent %}
    <section class="content-header">
        <h1>
            [{{ coursedata.title }}]{% if coursedata.teachclass %}({{ coursedata.teachclass.name }}){% endif %}
        </h1>
    </section>
{% endblock %}
{% block content %}
    {% include 'coursenav.html' %}
    {% if not request.GET.manage == '1' %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">课程资源文件</h3>
                <div class="pull-right box-tools">
                    <a class="btn btn-primary btn-sm" href="?manage=1">上传/管理</a>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        {% if resources %}
                            {% for resource in resources %}
                                <div class="file-box">
                                    <div class="file">

                                        <span class="corner"></span>
                                        {% if resource.isimage %}
                                            <div class="image">
                                                <img alt="image" class="img-responsive"
                                                     src="{{ resource.file.url }}">
                                            </div>
                                        {% else %}

                                            {% if resource.preview %}
                                                <div class="icon previewbutton" style="cursor:pointer"
                                                     data-previewurl="{{ resource.preview }}">
                                                    {{ resource.icon|safe }}
                                                </div>
                                            {% else %}
                                                <a href="{{ resource.file.url }}" download="{{ resource.title }}">
                                                    <div class="icon">
                                                        {{ resource.icon|safe }}
                                                    </div>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                        <div class="file-name">
                                            <a href="{{ resource.file.url }}" download="{{ resource.title }}">
                                                {{ resource.title }}
                                            </a>
                                            <br>
                                            <small>添加日期: {{ resource.uploadtime|date:'Y-m-d' }}</small>
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h5>没有资源</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">课程资源文件上传/管理</h3>
                <div class="pull-right box-tools">
                    <a class="btn btn-primary btn-sm" href="?manage=0">返回</a>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <input id="fileupload" type="file" multiple>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="filepreview">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">文件预览</h4>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                                src=''>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_script %}
    {% if request.GET.manage == '1' %}
        <script>
            $fileupload = $("#fileupload");
            $fileupload.fileinput({
                language: "zh",
                theme: "explorer",
                showUpload: true,
                //previewFileType: 'any',
                uploadUrl: "{% url 'course:resourceupload' %}",
                //maxFileCount: 100,
                validateInitialCount: true,
                overwriteInitial: false,
                //uploadAsync: true,
                showRemove: false,
                uploadExtraData: {'courseid':{{ coursedata.id }}},
                initialPreview: [
                    {% for resource in resources %}
                        "{{ resource.initialPreview.data|safe }}",
                    {% endfor %}
                ],
                initialPreviewAsData: true,
                initialPreviewConfig: [
                    {% for resource in resources %}
                        {
                            caption: '{{ resource.title }}',
                            url: '{% url 'course:resourcedelete' %}',
                            key: {{ resource.id }},
                            {% if resource.initialPreview.type %}
                                type: '{{ resource.initialPreview.type }}',
                            {% endif %}
                            {% if resource.initialPreview.filetype %}
                                filetype: '{{ resource.initialPreview.filetype }}',
                            {% endif %}

                        },
                    {% endfor %}
                ],
                preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
                previewFileIconSettings: { // configure your icon file extensions
                    'doc': '<i class="fa fa-file-word-o text-primary"></i>',
                    'xls': '<i class="fa fa-file-excel-o text-success"></i>',
                    'ppt': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                    'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
                    'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                    'htm': '<i class="fa fa-file-code-o text-info"></i>',
                    'txt': '<i class="fa fa-file-text-o text-info"></i>',
                    'mov': '<i class="fa fa-file-movie-o text-warning"></i>',
                    'mp3': '<i class="fa fa-file-audio-o text-warning"></i>',
                },
                previewFileExtSettings: { // configure the logic for determining icon file extensions
                    'doc': function (ext) {
                        return ext.match(/(doc|docx)$/i);
                    },
                    'xls': function (ext) {
                        return ext.match(/(xls|xlsx)$/i);
                    },
                    'ppt': function (ext) {
                        return ext.match(/(ppt|pptx)$/i);
                    },
                    'zip': function (ext) {
                        return ext.match(/(zip|rar|tar|gzip|gz|7z)$/i);
                    },
                    'htm': function (ext) {
                        return ext.match(/(htm|html)$/i);
                    },
                    'txt': function (ext) {
                        return ext.match(/(txt|ini|csv|java|php|js|css)$/i);
                    },
                    'mov': function (ext) {
                        return ext.match(/(avi|mpg|mkv|mov|mp4|3gp|webm|wmv)$/i);
                    },
                    'mp3': function (ext) {
                        return ext.match(/(mp3|wav)$/i);
                    }
                }
            });
            $fileupload.on("filepredelete", function (jqXHR) {
                var abort = true;
                if (confirm("确认删除?")) {
                    abort = false;
                }
                return abort;
            });
        </script>
    {% endif %}
    <script>
        $(".previewbutton").click(function () {
            $('#filepreview').modal('show');
            previewurl = $(this).data('previewurl');
            $('#filepreview').on('shown.bs.modal', function () {
                $('iframe').attr("src", previewurl);
            });
        })
    </script>
{% endblock %}