{% extends 'base.html' %}
{% load staticfiles %}
{% load course_extra %}
{% block title %}群发消息{% endblock %}
{% block page_css %}
{% endblock %}
{% block page_js %}
    <script src="{% static 'js/csrf.js' %}"></script>
{% endblock %}
{% block beforecontent %}
    <section class="content-header">
        <h1>
            [{{ coursedata.title }}]{% if coursedata.teachclass %}({{ coursedata.teachclass.name }}){% endif %}
        </h1>
    </section>
{% endblock %}
{% block content %}
    <!-- page start-->
    {% include 'coursenav.html' %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <i class="fa fa-edit"></i>
                    <h3 class="box-title">群发消息</h3>
                </div>
                <div class="box-body">
                    {% if send %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> 群发成功!</h4>
                            {% if errorsendstudentnames %}注意：{{ errorsendstudentnames|join:'、' }}：因为未关注无法收到消息{% endif %}
                        </div>
                    {% endif %}
                    <form role="form" class="form-horizontal" id="form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="box-body">
                            <div class="form-group">
                                <textarea class="form-control" rows="5" placeholder="消息内容" name="message"></textarea>

                            </div>
                        </div>

                        <div class="box-footer">
                            群发消息会立刻发送到上课学生的微信中，请避免在学生休息时间段发送。<br/>
                            您看不到学生回复的消息，您可以在群发时留下您的联系方式。
                            <button type="submit" class="btn btn-info pull-right">发送</button>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
    {% if messages %}
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">发送历史</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-hover table-striped table-hover">
                            <tbody>
                            <tr>
                                <th style="width: 10px;">#</th>
                                <th>时间</th>
                                <th>消息</th>
                            </tr>
                            {% for message in messages %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ message.time|date:'Y-m-d H:i' }}</td>
                                    <td>{{ message.message }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block page_script %}
{% endblock %}