{% extends 'base.html' %}
{% load static %}
{% load checkin_extra %}
{% block title %}学生列表 - {{ coursedata.title }}{% endblock %}
{% block page_js %}
{% endblock %}
{% block page_css %}
{% endblock %}
{% block beforecontent %}
    <section class="content-header">
        <h1>
            [{{ coursedata.title }}]{% if coursedata.teachclass %}({{ coursedata.teachclass.name }}){% endif %}
        </h1>
    </section>
{% endblock %}
{% block content %}
    {% include 'coursenav.html' %}
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">学生列表</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>学号</th>
                            <th>班级</th>
                            <th>专业</th>
                            <th>系所</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for s in students %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ s.student.name }}</td>
                                <td>{{ s.student.studentid }}</td>
                                <td>{{ s.student.classid.name }}</td>
                                <td>{{ s.student.classid.major.name }}</td>
                                <td>{{ s.student.classid.department.name }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>










{% endblock %}

{% block page_script %}

{% endblock %}