{% extends 'base-body.html' %}
{% load staticfiles %}
{% block title %}登录{% endblock %}
{% block page_css %}
    <!-- iCheck -->
    <link rel="stylesheet" href="{% static 'plugins/iCheck/square/blue.css' %}">
{% endblock %}
{% block body %}
    <body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="{% url 'home' %}"><b>CHECKIN</b>SYSTEM</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">登录系统</p>
            {% if request.GET.error %}
                <label class="text-danger">{{ request.GET.error }}</label>
            {% endif %}
            <form action="{% url 'user:loginProcess' %}" method="post">
                {% csrf_token %}
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="学工号/Email/用户名" name="username">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="密码" name="password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox" value="remember-me" name="remember"> 记住我(请勿在教室勾选)
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            {% if wechatloginurl %}
                <div class="social-auth-links text-center">
                    <a href="{{ wechatloginurl }}" class="btn btn-block btn-social btn-linkedin btn-flat"><i
                            class="fa fa-wechat"></i>
                        通过微信扫一扫登录(测试中)</a>
                </div>
            {% endif %}
            <a data-toggle="modal" href="#myModal">忘记密码?</a>
            {% if browserdownload %}
                <a style="float:right;display:none;" id="browserdownload" href="{{ browserdownload }}"
                   download="browser.exe">下载浏览器</a><br>
            {% endif %}

        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->

    </body>
    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
         class="modal fade">
        <form action="{% url 'user:forgetpassword' %}" method="get">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">忘记密码 ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>输入你的E-mail地址,我们将为您发送密码重置连接</p>
                        <input type="text" name="email" placeholder="Email" autocomplete="off"
                               class="form-control placeholder-no-fix">

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                        <button class="btn btn-success" type="submit">发送</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- modal -->
{% endblock %}

{% block page_js %}
    <script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>

{% endblock %}
{% block page_script %}
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
        if (!window.applicationCache) {
            $('#browserdownload').show();
        }
    </script>
{% endblock %}