{% extends 'base.html' %}
{% load staticfiles %}
{% load school_extra %}
{% block title %}专业{% endblock %}
{% block page_css %}
    <link href="{% static 'plugins/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'plugins/chosen/chosen1.1.css' %}">

{% endblock %}
{% block page_js %}
    <script src="{% static 'plugins/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/extensions/export/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/extensions/export/tableExport.min.js' %}"></script>
    <script src="{% static 'plugins/chosen/chosen.jquery.min.js' %}"></script>
{% endblock %}

{% block content %}





    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">专业</h3>
                </div>
                <div class="box-body">
                    <div class="adv-table">
                        <div id="custom-toolbar">
                            <div class="form-inline" role="form">
                                <div class="form-group">
                                    <select name="department" id="department" data-placeholder="系所">
                                        <option value selected></option>
                                        {% getdepartment as departmentdata %}

                                        {% for m in departmentdata %}
                                            <option value="{{ m }}">{{ m }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <table id="table"
                               data-toggle="table"
                               data-striped="true"
                               data-search="true"
                               data-show-refresh="true"
                               data-show-toggle="true"
                               data-show-columns="true"
                               data-show-export="true"
                               data-minimum-count-columns="2"
                               data-pagination="true"
                               data-id-field="id"
                               data-page-size="10"
                               data-page-list="[5,10, 25, 50, 100, ALL]"
                               data-side-pagination="server"
                               data-url="{% url 'school:getmajordata' %}"
                               data-toolbar="#custom-toolbar"
                               data-query-params="queryParams"
                               data-export-types="['png', 'doc', 'csv', 'txt', 'excel', 'powerpoint', 'pdf']"
                               data-search-text="{{ request.GET.search }}"
                        ></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- page end-->



{% endblock %}
{% block page_script %}
    <script>
        {% if request.GET.department %}
            $("#department").find("option[value='{{ request.GET.department }}']").attr('selected', true);
        {% endif %}
        $.extend($.fn.bootstrapTable.defaults, $.fn.bootstrapTable.locales['zh-CN']);
        var $table = $('#table');
        $table.bootstrapTable({
            columns: [{
                field: 'name',
                title: '专业',
                searchable: true
            }, {
                field: 'department',
                title: '系所'
            }, {
                field: 'classamount',
                title: '班级数量'
            }, {
                field: 'number',
                title: '人数'
            }]
        });
        function queryParams(params) {
            params['department'] = $('#department').val();
            return params;
        }

        $('#department').chosen({allow_single_deselect: true});
        $('#department').on('change', function (evt, params) {
            $table.bootstrapTable('refresh');
        });
    </script>
{% endblock %}