{% extends 'base.html' %}
{% load staticfiles %}
{% load center_extra %}
{% load school_extra %}
{% block title %}学生列表{% endblock %}
{% block page_css %}
    <link href="{% static 'plugins/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'plugins/chosen/chosen1.1.css' %}">
    <link href="{% static 'plugins/toastr-master/toastr.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block page_js %}
    <script src="{% static 'plugins/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'plugins/chosen/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/bootstrap-table-contextmenu/dist/bootstrap-table-contextmenu.min.js' %}"></script>
    <script src="{% static 'plugins/toastr-master/toastr.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">学生列表</h3>
                </div>
                <div class="box-body">
                    <div class="adv-table">
                        <div id="custom-toolbar">
                            <div class="form-inline" role="form">
                                <div class="form-group">
                                    <select name="major" id="major" data-placeholder="系所专业">
                                        <option value selected></option>
                                        {% getmajor as majordata %}
                                        {% for key, value in  majordata.items %}
                                            <optgroup label="{{ key }}">
                                                <option value="*{{ key }}">全部</option>
                                                {% for m in value %}
                                                    <option value="{{ m }}">{{ m }}</option>
                                                {% endfor %}
                                            </optgroup>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="viewType2" id="schoolyear" data-placeholder="入学年份">
                                        <option value selected></option>
                                        {% getschoolyear as schoolyeardata %}

                                        {% for m in schoolyeardata %}
                                            <option value="{{ m }}">{{ m }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {% comment %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> 我的课程
                                    </label>
                                </div>
                                <!--<button type="submit" class="btn btn-default">高级搜索</button>-->
                            {% endcomment %}
                            </div>
                        </div>
                        <table id="table"
                               data-toggle="table"
                               data-search="true"
                               data-show-refresh="true"
                               data-show-toggle="true"
                               data-show-columns="true"
                               data-show-export="true"
                               data-minimum-count-columns="2"
                               data-pagination="true"
                               data-id-field="studentid"
                               data-page-size="10"
                               data-page-list="[5,10, 25, 50, 100, ALL]"
                               data-side-pagination="server"
                               data-url="{% url 'school:getstudentdata' %}"
                               data-toolbar="#custom-toolbar"
                               data-striped="true"
                               data-query-params="queryParams"
                               data-search-text="{{ request.GET.search }}"
                        >

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- page end-->

    <ul id="example2-context-menu" class="dropdown-menu">
        {% if perms.school_student_modify %}
            <li data-item="resetpassword"><a>重置密码</a></li>
        {% endif %}
        {% if perms.checkin_view %}
            <li data-item="checkin_view"><a>查看出勤情况</a></li>
        {% endif %}
    </ul>


{% endblock %}
{% block page_script %}
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        {% if request.GET.major %}
            $("#major").find("option[value='{{ request.GET.major }}']").attr('selected', true);
        {% elif request.GET.department %}
            $("#major").find("option[value='*{{ request.GET.department }}']").attr('selected', true);
        {% endif %}
        {% if request.GET.schoolyear %}
            $("#schoolyear").find("option[value='{{ request.GET.schoolyear }}']").attr('selected', true);
        {% endif %}

        $.extend($.fn.bootstrapTable.defaults, $.fn.bootstrapTable.locales['zh-CN']);
        var $table = $('#table');
        columns = [{
            field: 'name',
            title: '姓名',
            searchable: true
        }, {
            field: 'studentid',
            title: '学号',
            sortable: true,
            order: 'desc'
        }, {
            field: 'sex',
            title: '性别'
        }, {
            field: 'idnumber',
            title: '身份证',
            visible: false
        }, {
            field: 'class',
            title: '班级'
        }, {
            field: 'major',
            title: '专业'
        }, {
            field: 'department',
            title: '系所'
        }, {
            field: 'username',
            title: '用户名',
            visible: false
        }, {
            field: 'schoolyear',
            title: '入学学年',
            visible: false
        }, {
            field: 'ip',
            title: 'ip',
            visible: false
        }, {
            field: 'lastlogintime',
            title: '上次登录',
            visible: false
        }, {
            field: 'iswechat',
            title: '微信关注'
        }];
        {% if perms.school_student_modify or perms.checkin_view%}
            function operateFormatter(value, row, index) {
                return [
                    '<div class="btn-group btn-group-xs">',
                    '    <button type="button" class="btn btn-default dropdown-toggle example2-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">',
                    '        <span class="caret"></span>',
                    '        <span class="sr-only">操作</span>',
                    '    </button>',
                    '</div>'
                ].join('');
            }
            columns.push({
                field: 'operate',
                title: '操作',
                align: 'center',
                formatter: operateFormatter
            });
            $table.bootstrapTable({
                columns: columns,
                contextMenu: '#example2-context-menu',
                contextMenuButton: '.example2-button',
                onContextMenuItem: function (row, $el) {
                    if ($el.data("item") == "resetpassword") {
                        $.ajax({
                            url: '{% url 'user:control.resetpassword' %}',
                            type: 'GET',
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            data: {
                                userid: row.user_id
                            },
                            success: function (data) {
                                if (data.error != 0) {
                                    toastr['error'](data.message, "操作失败");
                                } else {
                                    toastr['success'](data.message, "操作成功");
                                }
                            }, error: function (XMLHttpRequest, textStatus) {
                                toastr['error'](textStatus, "与服务器连接失败");
                            }
                        });
                    } else if ($el.data("item") == "checkin_view") {
                        window.open("{% url 'checkin:student_data' '' %}" + row.studentid);
                    }
                }
            });
        {% else %}
            $table.bootstrapTable({
                columns: columns
            });
        {% endif %}

        function queryParams(params) {
            params['schoolyear'] = $('#schoolyear').val();
            params['major'] = $('#major').val();
            return params;
        }

        $('#major').chosen({allow_single_deselect: true, include_group_label_in_selected: true});
        $('#schoolyear').chosen({allow_single_deselect: true, width: 60});

        $('#schoolyear').on('change', function (evt, params) {
            $table.bootstrapTable('refresh');
        });
        $('#major').on('change', function (evt, params) {
            $table.bootstrapTable('refresh');
        });


    </script>
{% endblock %}