{% extends 'base-body.html' %}
{% load staticfiles %}
{% block title %}密码修改{% endblock %}
{% block body %}

    <body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            个人设置
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">信息修改</p>
            {% if request.GET.error %}
                <label class="text-danger">{{ request.GET.error }}</label>
            {% endif %}
            <form method="post" id="Form">
                {% csrf_token %}
                <div class="form-group has-feedback">
                    <input type="number" class="form-control" placeholder="手机号码" name="phone" id="phone"
                           value="{{ request.user.phone|default:'' }}">
                    <span class="glyphicon glyphicon-play-circle form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Email" name="email" id="email"
                           value="{{ request.user.email }}">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <p class="login-box-msg">密码修改(不修改留空)</p>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="原密码" name="oldpassword" id="oldpassword">
                    <span class="glyphicon glyphicon-play-circle form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="新密码" name="newpassword" id="newpassword">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="重复密码" name="repassword" id="repassword">
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" disabled>修改</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->

    </body>


{% endblock %}
{% block page_css %}
    <link href="{% static 'plugins/bootstrapValidator/css/bootstrapValidator.min.css' %}" rel="stylesheet">
{% endblock %}
{% block page_js %}
    <script type="text/javascript"
            src="{% static 'plugins/bootstrapValidator/js/bootstrapValidator.min.js' %}"></script>
{% endblock %}
{% block page_script %}
    <script>
        $(function () {
            $('#Form').bootstrapValidator({
                fields: {
                    phone: {
                        validators: {
                            notEmpty: {
                                message: '请输入您的手机号码'
                            },
                            stringLength: {
                                max: 11,
                                min: 11,
                                message: '手机号码为11位'
                            }, remote: {
                                message: '此手机号已被注册',
                                url: '{% url 'user:check_phone' %}',
                                type: 'POST'
                            }
                        }
                    },
                    email: {
                        validators: {
                            notEmpty: {
                                message: '请输入E-mail帐号'
                            },
                            emailAddress: {
                                message: '请输入正确的E-mail帐号'
                            },
                            remote: {
                                message: '此E-mail已被注册',
                                url: '{% url 'user:check_email' %}',
                                type: 'POST'
                            },
                            stringLength: {
                                max: 40,
                                message: '邮箱长度不能大于40字符'
                            }
                        }
                    },
                    newpassword: {
                        validators: {
                            stringLength: {
                                min: 6,
                                max: 20,
                                message: '您的密码需要6~20个字符,'
                            }
                        }
                    }, repassword: {
                        validators: {
                            identical: {
                                field: 'newpassword',
                                message: '两次输入的密码不一致'
                            }
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}