{% extends 'base-body.html' %}
{% load staticfiles %}
{% block title %}密码重置{% endblock %}
{% block body %}

    <body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="{% url 'home' %}"><b>CHECKIN</b>SYSTEM</a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">密码重置</p>
            {% if request.GET.error %}
                <label class="text-danger">{{ request.GET.error }}</label>
            {% endif %}
            <form method="post" id="Form">
                {% csrf_token %}
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="新密码" name="password" id="newpassword">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="重复密码" name="repassword" id="repassword">
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" disabled>重置</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->

    </body>


{% endblock %}
{% block page_css %}
    <link href="{% static 'plugins/bootstrapValidator/css/bootstrapValidator.min.css' %}" rel="stylesheet">
{% endblock %}
{% block page_js %}
    <script type="text/javascript"
            src="{% static 'plugins/bootstrapValidator/js/bootstrapValidator.min.js' %}"></script>
{% endblock %}
{% block page_script %}
    <script>
        $(function () {
            $('#Form').bootstrapValidator({
                fields: {
                    password: {
                        validators: {
                            notEmpty: {
                                message: '请输入您的密码'
                            },
                            stringLength: {
                                min: 8,
                                max: 20,
                                message: '您的密码需要8~20个字符,'
                            },
                            regexp: {
                                regexp: /(?=.*[0-9])(?=.*[a-zA-Z]).{8,30}/,
                                message: '密码需要包含数字和字母'
                            }
                        }
                    }, repassword: {
                        validators: {
                            notEmpty: {
                                message: '请重复输入您的密码'
                            },
                            identical: {
                                field: 'password',
                                message: '两次输入的密码不一致'
                            }
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}