<!DOCTYPE html>
<html lang="zh">
{% include 'head.html' %}
{% block page_css %}
{% endblock %}
<script>document.title = '{% block title %}默认标题{% endblock %} - Checkin system'</script>
{% if not request.GET.simpleview %}
    <body class="hold-transition skin-blue sidebar-mini sidebar-collapse">
    <div class="wrapper">
    {% include 'header.html' %}
    {% include 'sidebar.html' %}


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
{% else %}
    <body class="hold-transition skin-blue" style="background-color: #ecf0f5;">
{% endif %}
<!-- Main content -->
<section class="content">
    {% block content %}
        <!-- Your Page Content Here -->
    {% endblock %}
</section>
<!-- /.content -->
{% if not request.GET.simpleview %}
    </div>
    <!-- /.content-wrapper -->


    {% include 'footer.html' %}
    </div>
{% endif %}

{% include 'endscript.html' %}
{% block page_js %}
{% endblock %}
{% block page_script %}
{% endblock %}
</body>
</html>