<!DOCTYPE html>
<html lang="zh">
{% include 'head.html' %}
{% block page_css %}
{% endblock %}
<script>document.title = '{% block title %}默认标题{% endblock %} - Checkin system'</script>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">
    {% include 'header.html' %}
    {% include 'sidebar.html' %}


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            {% block content %}
                <!-- Your Page Content Here -->
            {% endblock %}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    {% include 'footer.html' %}
</div>


{% include 'endscript.html' %}
{% block page_js %}
{% endblock %}
{% block page_script %}
{% endblock %}
</body>
</html>