{% load center_extra %}


<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">

            <li class="{% nav_active request.path 'home' %}"><a href="{% url 'home' %}"><i class="fa fa-home"></i>
                <span>首页</span></a></li>
            {% if perms.view_courselist %}
                <li class="{% nav_menu_active request.path 'course' %}"><a href="{% url 'course:list' %}"><i
                        class="fa fa-book"></i> <span>课程</span></a></li>
            {% endif %}

            {% if perms.app_checkin %}
                <li class="treeview {% nav_menu_active request.path 'checkin' %}">
                    <a href="#"><i class="fa fa-calendar-check-o"></i> <span>考勤</span> <i
                            class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li class="{% nav_active request.path 'whole' %}"><a href="#"><i class="fa fa-circle-o"></i>全校总览</a>
                        </li>
                        <li class="{% nav_active request.path 'personal_data' %}"><a
                                href="{% url 'checkin:personal_data' %}"><i class="fa fa-circle-o"></i>个人数据</a></li>
                    </ul>
                </li>
            {% endif %}

            {% if perms.app_wechat %}
                <li class="treeview {% nav_menu_active request.path 'wechat' %}">
                    <a href="#"><i class="fa fa-wechat"></i> <span>微信平台</span> <i
                            class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li class=""><a href="#"><i class="fa fa-circle-o"></i>信息群发</a></li>
                        <li class=""><a href="#"><i class="fa fa-circle-o"></i>关键词回复</a></li>
                        <li class=""><a href="#"><i class="fa fa-circle-o"></i>关注者</a></li>
                        <li class=""><a href="#"><i class="fa fa-circle-o"></i>素材</a></li>
                        <li class=""><a href="#"><i class="fa fa-circle-o"></i>菜单</a></li>
                    </ul>
                </li>
            {% endif %}

            {% if perms.app_school %}
                <li class="treeview {% nav_menu_active request.path 'school' %}">
                    <a href="#"><i class="fa fa-building"></i> <span>学校</span> <i
                            class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        {% if perms.view_student %}
                            <li class="{% nav_active request.path 'studentlist' %}"><a
                                    href="{% url 'school:studentlist' %}"><i class="fa fa-circle-o"></i>学生</a></li>
                        {% endif %}
                        {% if perms.view_teacher %}
                            <li class="{% nav_active request.path 'teacherlist' %}"><a
                                    href="{% url 'school:teacherlist' %}"><i class="fa fa-circle-o"></i>教师</a></li>
                        {% endif %}
                        {% if perms.view_class %}
                            <li class="{% nav_active request.path 'classlist' %}"><a
                                    href="{% url 'school:classlist' %}"><i class="fa fa-circle-o"></i>班级</a></li>
                        {% endif %}
                        {% if perms.view_major %}
                            <li class="{% nav_active request.path 'majorlist' %}"><a
                                    href="{% url 'school:majorlist' %}"><i class="fa fa-circle-o"></i>专业</a></li>
                        {% endif %}
                        {% if perms.view_department %}
                            <li class="{% nav_active request.path 'departmentlist' %}"><a
                                    href="{% url 'school:departmentlist' %}"><i class="fa fa-circle-o"></i>系部</a></li>
                        {% endif %}
                        {% if perms.view_administration %}
                            <li class="{% nav_active request.path 'administrationlist' %}"><a
                                    href="{% url 'school:administrationlist' %}"><i class="fa fa-circle-o"></i>行政部</a>
                            </li>
                        {% endif %}
                        {% if perms.view_classroom %}
                            <li class="{% nav_active request.path 'classroomlist' %}"><a
                                    href="{% url 'school:classroomlist' %}"><i class="fa fa-circle-o"></i>教室</a></li>
                        {% endif %}
                        {% if perms.view_schoolterm %}
                            <li class="{% nav_active request.path 'schoolterm' %}"><a
                                    href="{% url 'school:schoolterm' %}"><i class="fa fa-circle-o"></i>学期</a></li>
                        {% endif %}
                        {% if perms.view_classtime %}
                            <li class="{% nav_active request.path 'classtime' %}"><a
                                    href="{% url 'school:classtime' %}"><i class="fa fa-circle-o"></i>上课时间</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            {% if perms.app_user %}
                <li class="treeview {% nav_menu_active request.path 'user' %}">
                    <a href="#"><i class="fa fa-users"></i> <span>用户</span> <i
                            class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li class=""><a href="{% url 'user:userlist' %}"><i class="fa fa-circle-o"></i>用户</a></li>
                        <li class=""><a href="#"><i class="fa fa-circle-o"></i>角色</a></li>
                        <li class=""><a href="#"><i class="fa fa-circle-o"></i>权限</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
