{% extends 'base-body.html' %}
{% load static %}
{% block title %}成功{% endblock %}
{% block page_css %}
    <style>
        /*success page*/

        .body-success {
            background: #2A3542;
            color: #fff;
        }

        .error-wrapper .icon-success {
            background: url("{% static 'img/success.png' %}") no-repeat;
            width: 300px;
            height: 300px;
            display: inline-block;
            margin-left: 50px;
        }

        .error-wrapper p.page-success {
            color: #7dfff7;
        }
    </style>
{% endblock %}
{% block body %}
    <body class="body-success">
    <div class="container">
        <section class="error-wrapper notifiy">
            <i class="icon-success"></i>
            <h1 style="font-size: 50px;">{{ message }}</h1>
            <h2>{{ submessage }}</h2>
            <p class="page-success">
                {% if jumpurl %}
                    页面自动 <a id="href" href="{{ jumpurl }}">跳转</a> 等待时间：<b id="wait">{{ waittime|default:3 }}</b>
                {% endif %}
                {% if wechatclose %}
                    页面自动 关闭 等待时间：<b id="wait">{{ waittime|default:3 }}</b>
                {% endif %}
                <a href="{% url 'home' %}">返回主页</a>
            </p>
        </section>
    </div>
    </body>
{% endblock %}
{% block page_script %}
    {% if jumpurl %}
        <script type="text/javascript">
            (function () {
                var wait = document.getElementById('wait'), href = document.getElementById('href').href;
                var interval = setInterval(function () {
                    var time = --wait.innerHTML;
                    if (time <= 0) {
                        location.href = href;
                        clearInterval(interval);
                    }
                    ;
                }, 1000);
            })();
        </script>
    {% endif %}
    {% if wechatclose %}
        <script language="JavaScript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        {% load wechat_extra %}
        {% wxconfig request.get_full_path 'closeWindow,hideOptionMenu' as wxc %}
        {{ wxc | safe }}
        <script type="text/javascript">
            wx.ready(function () {
                wx.hideOptionMenu();
                {% comment %}
                wx.getLocation({
                    type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                    success: function (res) {
                        var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                        var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                        var speed = res.speed; // 速度，以米/每秒计
                        var accuracy = res.accuracy; // 位置精度
                    }
                });
                wx.getNetworkType({
                    success: function (res) {
                        var networkType = res.networkType; // 返回网络类型2g，3g，4g，wifi
                    }
                });
                {% endcomment %}
                var wait = document.getElementById('wait');
                var interval = setInterval(function () {
                    var time = --wait.innerHTML;
                    if (time <= 0) {
                        wx.closeWindow();
                        clearInterval(interval);
                    }
                }, 1000);
            });
        </script>
    {% endif %}
{% endblock %}