{% extends 'base.html' %}
{% load staticfiles %}
{% load center_extra %}
{% load checkin_extra %}

{% block title %}课程考勤数据{% endblock %}
{% block page_css %}
    <link href="{% static 'plugins/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'plugins/chosen/chosen1.1.css' %}">
    <link href="{% static 'plugins/x-editable/css/bootstrap-editable.css' %}" rel="stylesheet"/>
    <style>
        .bg-default {
            background-color: lightcoral;
        }
    </style>
{% endblock %}
{% block page_js %}
    <script src="{% static 'plugins/bootstrap-table/bootstrap-table.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'plugins/x-editable/js/bootstrap-editable.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.min.js' %}"></script>
    <script src="{% static 'plugins/tableExport/tableExport.js' %}"></script>
    <script src="{% static 'plugins/tableExport/jquery.base64.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/extensions/export/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'plugins/chosen/chosen.jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">

            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">课程考勤数据 - {{ coursedata.title }}</h3>
                </div>
                <div class="box-body">
                    <div class="adv-table">
                        <div id="custom-toolbar">
                            {% if request.GET.mode == 'modify' %}
                                <a class="btn btn-default" href="?mode=view">退出编辑模式</a>
                            {% else %}
                                <a class="btn btn-success" href="?mode=modify">进入编辑模式</a>
                            {% endif %}
                        </div>
                        <table id="table"
                               data-search="true"
                               data-show-toggle="true"
                               data-show-columns="true"
                               data-show-export="true"
                               data-minimum-count-columns="2"
                               data-pagination="true"
                               data-page-size="10"
                               data-page-list="[5,10, 25, 50, 100, ALL]"
                               data-side-pagination="client"
                               data-toolbar="#custom-toolbar"
                               data-striped="true"
                               data-export-types="['csv']"
                               data-exportDataType="all"
                               data-export-options='{
         "fileName": "考勤数据-{{ coursedata.title }}",
         "worksheetName": "考勤数据-{{ coursedata.title }}",
         "escape": "false",
         }'>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- page end-->



{% endblock %}
{% block page_script %}
    <script>
        $.extend($.fn.bootstrapTable.defaults, $.fn.bootstrapTable.locales['zh-CN']);
        var $table = $('#table');
        {% CHECKIN_STATUS_STYLE_JSON as checkin_status_style_json %}
        checkin_status_style_json ={{ checkin_status_style_json|safe }};
        {% CHECKIN_STATUS_JSON as checkin_status_json %}
        checkin_status_json ={{ checkin_status_json|safe }};
        function identifierFormatter(value, row, index) {
            return checkin_status_json[value];
        }
        function cellStyle(value, row, index) {
            if (value == null) {
                return {}
            }
            return {
                classes: 'bg-' + checkin_status_style_json[value]
            };
        }
        $.fn.editable.defaults.mode = 'inline';
        $.fn.editable.defaults.type = 'select';
        $.fn.editable.defaults.emptytext = '无';
        $.fn.editable.defaults.showbuttons = false;
        $.fn.editable.defaults.ajaxOptions = {type: 'get', dataType: 'json'};
        $.fn.editable.defaults.source = checkin_status_json;
        $.fn.editable.defaults.success = function (response) {
            if (response.error) {
                return response.message;
            }
        };
        /*
         $.fn.editable.defaults.validate = function(value){
         if (checkin_status_json[value].indexOf('假')>=0){
         return '无权设定为请假';
         }
         };*/
        $.fn.editable.defaults.display = function (value, sourceData) {
            if (value == "undefined") {
                $(this).text();
            } else {
                $(this).html("<button class='btn btn-xs bg-" + checkin_status_style_json[value] + "'>" + checkin_status_json[value] + "</button>");
            }
        };
        $table.bootstrapTable({columns:{{ data.header|safe }}, data:{{ data.newrows|safe }}, idField: 'studentid'});
    </script>
{% endblock %}