{% extends 'base.html' %}
{% load static %}
{% load checkin_extra %}
{% load center_extra %}
{% block title %}{{ lessondata.course.title }}{% endblock %}
{% block page_js %}
    <script src="{% static 'plugins/select2/select2.min.js' %}"></script>
    <script src="{% static 'plugins/echarts/echarts.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/bootstrap-table.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/bootstrap-table-contextmenu/dist/bootstrap-table-contextmenu.min.js' %}"></script>
{% endblock %}
{% block page_css %}
    <link href="{% static 'plugins/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <style>
        .select2-selection {
            border-radius: 0 !important;
            box-shadow: none;
            border-color: #d2d6de !important;
            height: 34px;
            font-size: 14px;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: #3c8dbc;
            border-color: #367fa9;
            padding: 1px 10px;
            color: #fff;
        }
    </style>
{% endblock %}
{% block beforecontent %}
    <section class="content-header">
        <h1>
            [{{ coursedata.title }}]{% if coursedata.teachclass %}({{ coursedata.teachclass.name }}){% endif %}
            <small>第{{ lessondata.week }}周{{ lessondata.day|weekdeal }}
                ,第{{ lessondata.time }}-{{ lessondata.time|add:lessondata.length|add:-1 }}节
            </small>
        </h1>
    </section>
{% endblock %}
{% block content %}
    {% include 'coursenav.html' %}

    <div class="row">
        <div class="col-xs-6 col-lg-3">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-users"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">应到人数</span>
                    <span class="info-box-number">{{ shouldnumber }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-xs-6 col-lg-3">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-thumbs-up"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">实到人数</span>
                    <span class="info-box-number">{{ actuallynumber }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-xs-6 col-lg-3">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-medkit"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">请假人数</span>
                    <span class="info-box-number">{{ asknumber }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-xs-6 col-lg-3">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-exclamation-circle"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">未到人数</span>
                    <span class="info-box-number">{{ notreachnumber }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    {% if lessondata.isnow %}
        <div class="box box-primary">
            <div class="box-body">
                {% if checkincount == 0 %}
                    <a class="btn btn-app" href="{% url 'checkin:startcheckin' lessondata.id %}">
                        <i class="fa fa-edit"></i> 开始签到
                    </a>
                {% else %}
                    <a class="btn btn-app" href="{% url 'checkin:startcheckin' lessondata.id %}?mode=add">
                        <i class="fa fa-play"></i> 补签
                    </a>
                    <a class="btn btn-app" href="{% url 'checkin:startcheckin' lessondata.id %}?mode=again">
                        <i class="fa fa-circle-o-notch"></i> 再签
                    </a>
                    {% if canclearlastdata %}
                        <a class="btn btn-app" data-toggle="modal" href="#clearthisdata">
                            <i class="fa fa-repeat"></i> 撤回上次数据
                        </a>
                    {% endif %}
                    <a class="btn btn-app" data-toggle="modal" href="#clearalldata">
                        <i class="fa fa-trash"></i> 清除全部数据
                    </a>
                {% endif %}
                <a class="btn btn-app" data-toggle="modal" href="#pointman">
                    <span class="badge bg-green">新</span>
                    <i class="fa fa-hand-stop-o"></i> 课堂提问
                </a>
                <a class="btn btn-app" data-toggle="modal" href="#LessonAskModal">
                    <i class="fa fa-medkit"></i> 请假录入
                </a>
                <a class="btn btn-app" data-toggle="modal" href="#LessonCloseModal">
                    <i class="fa fa-stop"></i> 结束课程
                </a>
            </div>
        </div>
    {% endif %}


    {% if lessondata.isnow or lessondata.isend %}
        {% if checkincount != 0 %}
            <div class="row">
                <div class="col-md-4">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div id="status_chart" style="width: 100%;height:200px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <!--work progress start-->
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">签到日志</h3>
                        </div>
                        <div class="box-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>次数</th>
                                    <th>开始时间</th>
                                    <th>结束时间</th>
                                    <th>到达比例</th>
                                    <th>应到人数</th>
                                    <th>实到人数</th>
                                    <th>新签入人数</th>
                                    <th>离开人数</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cr in checkinrecord %}
                                    <tr>
                                        <td>{{ cr.time }}</td>
                                        <td>
                                            {{ cr.starttime|date:'H:i:s' }}
                                        </td>
                                        <td>
                                            {{ cr.endtime|date:'H:i:s'|default:'还未结束' }}
                                        </td>
                                        <td>
                                            {% widthratio cr.actuallynumber cr.shouldnumber 100 %}%
                                        </td>
                                        <td>{{ cr.shouldnumber|default:'无数据' }}</td>
                                        <td>{{ cr.actuallynumber|default:'无数据' }}</td>
                                        <td>{{ cr.newnumber|default:'无数据' }}</td>
                                        <td>{{ cr.leavenumber|default:'无数据' }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--work progress end-->
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">应到学生</a></li>
                        <li><a href="#tab_2" data-toggle="tab">请假学生</a></li>
                        <li class="pull-right"><input class="form-control" type="text" placeholder="搜索" id="listsearch">
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <table id="studentlist"></table>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>学号</th>
                                    <th>班级</th>
                                    <th>专业</th>
                                    <th>系所</th>
                                </tr>
                                </thead>
                                <tbody id="ask_table_body">
                                {% for s in askdata %}
                                    <tr id="sl{{ s.student.studentid }}" data-studentid="{{ s.student.studentid }}"
                                        data-status="0">
                                    <td>{{ s.student.name }}</td>
                                    <td>{{ s.student.studentid }}</td>
                                    <td>{{ s.student.classid.name }}</td>
                                    <td>{{ s.student.classid.major.name }}</td>
                                    <td>{{ s.student.classid.department.name }}</td>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>
        </div>
    {% endif %}



    <div class="modal fade modal-dialog-center top-modal-with-space" id="LessonCloseModal" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">操作提示</h4>
                    </div>
                    <div class="modal-body">

                        确认结束课程?

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                        <a href="{% url 'course:control.stoplesson' %}?lessonid={{ lessondata.id }}">
                            <button class="btn btn-warning" type="button"> 确认</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-dialog-center top-modal-with-space" id="LessonAskModal" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">请假录入</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <select class="form-control" multiple="multiple" data-placeholder="学号或姓名"
                                    id="studentselecter2"
                                    style="width: 100%;"
                                    name="delstudents"
                            >
                                <option></option>
                            </select>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-info dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="false">请假
                                    <span class="fa fa-caret-down"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a class="set_ask" data-status="sick_ask">病假</a></li>
                                    <li><a class="set_ask" data-status="private_ask">事假</a></li>
                                    <li><a class="set_ask" data-status="public_ask">公假</a></li>
                                </ul>
                            </div>
                        </div>
                        <p class="help-block">输入学号或姓名选择学生，录入请假信息</p>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-dialog-center top-modal-with-space" id="pointman" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">课堂提问</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="text-align: center;padding-bottom: 10px">
                            <button class="btn btc-lg btn-info" type="button" style="width: 97%" id="pointBtn">点人
                            </button>
                        </div>
                        <div class="row text-center" style="text-align:-webkit-center;">
                            <div style="width: 97%">
                                <table id="pointTable"></table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p class="help-block pull-left">优先选择异常考勤，一轮中学生不会重复</p>
                        <input type="checkbox" id="speech" checked>语音读名
                        <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-dialog-center top-modal-with-space" id="clearthisdata" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">操作提示</h4>
                    </div>
                    <div class="modal-body">

                        确认撤回上次数据？所有人将回滚到上次签到前的状态

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                        <a href="{% url 'checkin:clearcheckin' lessondata.id %}?deletethis=1">
                            <button class="btn btn-warning" type="button"> 确认</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-dialog-center top-modal-with-space" id="clearalldata" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">操作提示</h4>
                    </div>
                    <div class="modal-body">

                        确认清除全部数据？所有人状态会初试化为“正常”状态

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                        <a href="{% url 'checkin:clearcheckin' lessondata.id %}?deleteall=1">
                            <button class="btn btn-warning" type="button"> 确认</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul id="status-context-menu" class="dropdown-menu" style="min-width:70px;">
        <li data-item="set-success">
            <a>正常</a>
        </li>
        <li data-item="set-late">
            <a>迟到</a>
        </li>
        <li data-item="set-early">
            <a>早退</a>
        </li>
        <li data-item="set-normal">
            <a>未到</a>
        </li>
    </ul>
{% endblock %}

{% block page_script %}
    <script>
        colorList = {
            '正常': "#00a65a",
            '未到': "#888b90",
            '请假': "#0073b7",
            '迟到': "#d81b60",
            '早退': "#f012be",
            '迟&早': "#605ca8"
        };
        if (document.getElementById('status_chart') !== null) {
            status_chart = echarts.init(document.getElementById('status_chart'));
            status_chart.setOption({
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                itemStyle: {
                    normal: {
                        color: function (params) {
                            return colorList[params.name];
                        }
                    }
                },
                series: [
                    {
                        name: '学生比例',
                        type: 'pie',
                        selectedMode: 'single',
                        data: [
                            {value: {{ checkin_success }}, name: '正常'},
                            {value: {{ checkin_normal }}, name: '未到'},
                            {value: {{ asknumber }}, name: '请假'},
                            {value: {{ checkin_late }}, name: '迟到'},
                            {value: {{ checkin_early }}, name: '早退'},
                            {value: {{ checkin_lateearly }}, name: '迟&早'},
                        ]
                    }
                ]
            });
        }

        {% CHECKIN_STATUS_JSON as checkin_status_json %}
        var checkin_status_json ={{ checkin_status_json|safe }};
        {% CHECKIN_STATUS_STYLE_JSON as checkin_status_style_json %}
        var checkin_status_style_json ={{ checkin_status_style_json|safe }};
        {% CHECKIN_ABNORMAL_JSON as checkin_abnormal_json %}
        checkin_abnormal_json ={{ checkin_abnormal_json|safe }};

        $studentList = $('#studentlist');
        $pointTable = $('#pointTable');

        function changestatus(studentid, status) {
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '{% url 'checkin:changecheckinstatus' lessondata.id %}',
                data: {
                    'studentid': studentid,
                    'newstatus': status
                },
                success: function (value) {
                    if (value.error && value.error != 0) {
                        alert(value.message);
                    } else {
                        var tableRow = $studentList.bootstrapTable('getRowByUniqueId', studentid);
                        tableRow.status = value.status;
                        $studentList.bootstrapTable('updateByUniqueId', {id: studentid, row: tableRow});
                        var pointTableRow = $pointTable.bootstrapTable('getRowByUniqueId', studentid);
                        if (pointTableRow) {
                            pointTableRow.setsuccess = true;
                            $pointTable.bootstrapTable('updateByUniqueId', {id: studentid, row: tableRow});
                        }
                        if (value.status >= 10) {
                            $('.info-box-number').eq(0).text($('.info-box-number').eq(0).text() - 1);
                            $('.info-box-number').eq(2).text(parseInt($('.info-box-number').eq(2).text()) + 1);
                            str = '<tr id="sl' + value.studentid + '" data-studentid="' + value.studentid + '" data-status="' + value.status + '">' +
                                '<td>' + tableRow.name + '</td>' +
                                '<td>' + value.studentid + '</td>' +
                                '<td>' + tableRow.class + '</td>' +
                                '<td>' + '</td>' +
                                '<td>' + '</td>' +
                                '</tr>';
                            $('#ask_table_body').append(str);
                            $studentList.bootstrapTable('removeByUniqueId', studentid);
                        }
                    }
                },
                error: function () {

                }
            });
        }

        function addscore(studentid, score) {
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '{% url 'course:control.setperformance_score' lessondata.course_id %}',
                data: {
                    'studentid': studentid,
                    'score': score
                },
                success: function (value) {
                    if (value.error && value.error != 0) {
                        alert(value.message);
                    } else {
                        var tableRow = $studentList.bootstrapTable('getRowByUniqueId', studentid);
                        tableRow.score = value.performance_score;
                        $studentList.bootstrapTable('updateByUniqueId', {id: studentid, row: tableRow});
                        var pointTableRow = $pointTable.bootstrapTable('getRowByUniqueId', studentid);
                        if (pointTableRow) {
                            pointTableRow.score = value.performance_score;
                            $pointTable.bootstrapTable('updateByUniqueId', {id: studentid, row: tableRow});
                        }
                    }
                },
                error: function () {

                }
            });
        }

        function scoreFormatter(value, row, index) {
            buttonHTML = '<div class="pull-right">' +
                '<button type="button" class="btn btn-default btn-xs btn-score" data-studentid=' + row.studentid + ' data-score="1">+</button>' +
                '<button type="button" class="btn btn-default btn-xs btn-score" data-studentid=' + row.studentid + ' data-score="-1">-</button>' +
                '</div>';
            if (!value) {
                value = 0;
            }
            return value + buttonHTML;
        }

        $(document).on('click', '.btn-score', function () {
            addscore($(this).data("studentid"), $(this).data("score"));
        });

        $(document).on('click', '.set-normal', function () {
            changestatus($(this).data("studentid"), 'delete');
        });

        function statusFormatter(value, row, index) {
            html = '<div class="btn-group">\n' +
                '<button data-toggle="dropdown"\n' +
                'class="btn dropdown-toggle status-button btn-xs bg-' + checkin_status_style_json[value] + '\n' +
                'type="button"\n' +
                'aria-expanded="false">' + checkin_status_json[value] + '\n' +
                '</button>\n' +
                '</div>\n';
            if (row.abnormal) {
                html = html + '<span class="badge bg-red" data-toggle="tooltip"\n' +
                    'title="' + checkin_abnormal_json[row.abnormal] + '"><i\n' +
                    'class="fa fa-fw fa-exclamation"></i></span>\n';
            }
            return html;
        }

        $studentList.bootstrapTable({
            columns: [{
                field: 'name',
                title: '姓名'
            }, {
                field: 'studentid',
                title: '学号'
            }, {
                field: 'class',
                title: '班级'
            }, {
                field: 'score',
                title: '表现分数',
                formatter: scoreFormatter
            }, {
                field: 'status',
                title: '状态',
                formatter: statusFormatter
            }],
            data: {{ students|safe }},
            idField: 'studentid',
            uniqueId: 'studentid',
            contextMenu: '#status-context-menu',
            contextMenuButton: '.status-button',
            search: true,
            onContextMenuItem: function (row, $el) {
                if ($el.data("item") === "set-late") {
                    changestatus(row.studentid, 'late');
                } else if ($el.data("item") === "set-success") {
                    changestatus(row.studentid, 'success');
                } else if ($el.data("item") === "set-early") {
                    changestatus(row.studentid, 'early');
                } else if ($el.data("item") === "set-normal") {
                    changestatus(row.studentid, 'delete');
                }
            },
            onPostBody: function () {
                $('.fixed-table-toolbar').remove();
            }
        });

        function setnormalFormatter(value, row, index) {
            if (row.setsuccess) {
                html = '<button type="button" class="btn btn-default btn-xs" disabled>设置成功</button>';
            } else {
                html = '<button type="button" class="btn btn-default btn-xs set-normal" data-studentid=' + row.studentid + '>此人未到</button>';
            }
            if (row.abnormal) {
                html = html + '<span class="badge bg-red" data-toggle="tooltip"\n' +
                    'title="' + checkin_abnormal_json[row.abnormal] + '"><i\n' +
                    'class="fa fa-fw fa-exclamation"></i></span>\n';
            }
            return html;
        }

        var pointTable_local = localStorage.getItem('{{ lessondata.id }}_pointTable');

        if (!pointTable_local) {
            pointTable_local = [];
        } else {
            pointTable_local = JSON.parse(pointTable_local);
        }

        $pointTable.bootstrapTable({
            columns: [{
                field: 'name',
                title: '姓名'
            }, {
                field: 'studentid',
                title: '学号'
            }, {
                field: 'score',
                title: '表现分数',
                formatter: scoreFormatter
            }, {
                field: 'setnormal',
                title: '考勤',
                formatter: setnormalFormatter
            }],
            data: pointTable_local,
            idField: 'studentid',
            uniqueId: 'studentid',
            pagination: true,
            onlyInfoPagination: true,
            pageSize: 5,
            formatNoMatches: function () {
                return '本节课还没有点名'
            },
            formatDetailPagination: function (totalRows) {
                return '本节课已点' + totalRows + '人'
            },
            onPreBody: function (data) {
                if (data.length !== 0) {
                    localStorage.setItem('{{ lessondata.id }}_pointTable', JSON.stringify(data));
                }
            },
            rowStyle: function (row, index) {
                if (index===0){
                    return {classes:'success'};
                }else{
                    return {}
                }
            }
        });

        function isabnormal(element) {
            return element.abnormal;
        }

        function isnotabnormal(element) {
            return !element.abnormal;
        }

        $('#pointBtn').click(function () {
            var allnumbers = $studentList.bootstrapTable('getData').filter(function (element) {
                return ['正常', '迟到'].indexOf(checkin_status_json[element.status]) !== -1;
            });
            if (allnumbers.length === 0) {
                alert("所有人都没到，无法点名");
                return;
            }
            var candidates;
            candidates = localStorage.getItem('{{ lessondata.id }}_candidates');
            if (candidates) {
                candidates = JSON.parse(candidates);
            } else {
                candidates = [];
            }
            if (candidates.length === 0) {
                if ($pointTable.bootstrapTable('getData').length === 0) {
                    //初始化异常数据
                    candidates = allnumbers.filter(isabnormal);
                } else if ($pointTable.bootstrapTable('getData').filter(isnotabnormal).length === 0) {
                    candidates = allnumbers.filter(isnotabnormal);
                }
                if (candidates.length === 0) {
                    candidates = allnumbers;
                }
            }
            var luckey_num = Math.round(Math.random() * (candidates.length - 1));
            var luckey = candidates[luckey_num];  //随机抽取一个值
            if ($('#speech').is(':checked')) {
                var utterThis = new window.SpeechSynthesisUtterance(luckey.name);
                window.speechSynthesis.speak(utterThis);
            }
            $pointTable.bootstrapTable('removeByUniqueId', luckey.studentid);
            $pointTable.bootstrapTable('insertRow', {index: 0, row: luckey});
            candidates.splice(luckey_num, 1);
            localStorage.setItem('{{ lessondata.id }}_candidates', JSON.stringify(candidates));
        });


        $("#listsearch").keyup(function () {
            $studentList.bootstrapTable('resetSearch', $(this).val());
        });

        $(".set_ask").bind('click', function () {
            ask_type = $(this).data("status");
            ask_student = $('#studentselecter2').select2('data');
            if (ask_student.length == 0) {
                return;
            }
            ask_student = ask_student[0]['id'];
            changestatus(ask_student, ask_type);
            $('#studentselecter2').val([]).trigger('change');
        });


        function formatRepo(repo) {
            if (repo.loading) return repo.text;

            var markup = "<div class='select2-result-student clearfix'>" +
                "<div class='select2-result-student__name'>" + repo.name + "(" + repo.id + ")</div>";

            markup += "<div class='select2-result-student__statistics'>" +
                "<div class='select2-result-student__major'><i class='fa fa-comment'></i> " + repo.major + "</div>" +
                "<div class='select2-result-student__department'><i class='fa fa-building'></i> " + repo.department + "</div>" +
                "<div class='select2-result-student__class'><i class='fa fa-clone'></i> " + repo.class + "</div>" +
                "</div>" +
                "</div>";

            return markup;
        }

        function formatRepoSelection(repo) {
            return repo.name + "(" + repo.id + ")" || repo.text;
        }

        $studentselecter2 = $("#studentselecter2");
        $studentselecter2.select2({
            ajax: {
                url: "{% url 'course:studentcourse_selectdata' lessondata.course.id %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        wd: params.term
                    };
                },
                processResults: function (data, params) {
                    return {
                        results: data.rows
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup;
            }, // let our custom formatter work
            minimumInputLength: 1,
            maximumSelectionLength: 1,
            templateResult: formatRepo, // omitted for brevity, see the source of this page
            templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        });

        $(document).ready(function () {
            if (!('speechSynthesis' in window)) {
                $('#speech').removeAttr("checked");
                $('#speech').attr("disabled", true);
            }
        })
    </script>
{% endblock %}