{% extends 'base.html' %}
{% load static %}
{% load checkin_extra %}
{% block title %}{{ lessondata.course.title }}{% endblock %}
{% block page_js %}
    <script src="{% static 'assets/chart-master/Chart.js' %}"></script>
{% endblock %}
{% block page_css %}
{% endblock %}
{% block content %}
    <section class="panel">
        <header class="panel-heading">
            {{ lessondata.course.title }}
                      <span class="pull-right">
                          <button type="button" id="loading-btn" class="btn btn-warning btn-xs"><i
                                  class="fa fa-refresh"></i> 刷新
                          </button>
                      </span>
        </header>
        <div class="panel-body">
            {% if not lessondata.checkinnow and not lessondata.isend %}
                {% if lessondata.isnow %}
                    {% if checkincount == 0 %}
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-success btn-lg btn-block"
                                        onclick="window.location.href = '{% url 'checkin:startcheckin' lessondata.id %}'">
                                    开始签到
                                </button>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-success btn-lg btn-block popovers"
                                        onclick="window.location.href = '{% url 'checkin:startcheckin' lessondata.id %}?mode=add'"
                                        data-original-title="补签说明" data-content="当有同学迟到后,进入补签模式,所有新签入的同学会视为迟到"
                                        data-placement="bottom" data-trigger="hover">
                                    补签
                                </button>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-success btn-lg btn-block popovers"
                                        onclick="window.location.href = '{% url 'checkin:startcheckin' lessondata.id %}?mode=again'"
                                        data-original-title="再签说明" data-content="再次进行一次签到,所有没有签到的人会视为早退"
                                        data-placement="bottom" data-trigger="hover">
                                    再签
                                </button>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-danger btn-lg btn-block" data-toggle="modal"
                                        href="#LessonCloseModal">
                                    结束课程
                                </button>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-success btn-lg btn-block"
                                    onclick="window.location.href = '{% url 'course:control.startlesson' %}?lessonid={{ lessondata.id }}'">
                                开始上课
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-success btn-lg btn-block"
                                    onclick="window.location.href = '{% url 'course:control.startlesson' %}?lessonid={{ lessondata.id }}&jumptocheckin=1'">
                                开始上课/签到
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </section>
    <!--state overview start-->
    <div class="row state-overview">
        <div class="col-lg-3 col-sm-6">
            <section class="panel">
                <div class="symbol terques">
                    <i class="fa fa-users"></i>
                </div>
                <div class="value">
                    <h1 class="count">
                        {{ shouldnumber }}
                    </h1>

                    <p>应到人数</p>
                </div>
            </section>
        </div>
        <div class="col-lg-3 col-sm-6">
            <section class="panel">
                <div class="symbol yellow">
                    <i class="fa fa-thumbs-up"></i>
                </div>
                <div class="value">
                    <h1 class=" count2">
                        {{ actuallynumber }}
                    </h1>

                    <p>实到人数</p>
                </div>
            </section>
        </div>
        <div class="col-lg-3 col-sm-6">
            <section class="panel">
                <div class="symbol blue">
                    <i class="fa fa-medkit"></i>
                </div>
                <div class="value">
                    <h1 class=" count3">
                        {{ asknumber }}
                    </h1>

                    <p>请假人数</p>
                </div>
            </section>
        </div>
        <div class="col-lg-3 col-sm-6">
            <section class="panel">
                <div class="symbol red">
                    <i class="fa fa-exclamation-circle"></i>
                </div>
                <div class="value">
                    <h1 class=" count4">
                        {{ notreachnumber }}
                    </h1>

                    <p>未到人数</p>
                </div>
            </section>
        </div>
    </div>
    <!--state overview end-->
    {% if not checkincount == 0 %}
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body text-center">
                        <canvas id="numberData" height="200"></canvas>
                    </div>
                </section>
                {% comment %}
            <!--revenue start-->
            <section class="panel">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-lg-6 col-sm-6 text-center">
                            <div class="easy-pie-chart">
                                {% widthratio lessondata.actuallynumber lessondata.shouldnumber 100 as reachpercentage %}
                                <div class="percentage" data-percent="{{ reachpercentage }}">
                                    <span>{{ reachpercentage }}</span>%
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="chart-info chart-position">
                                <span class="increase"></span>
                                <span>到达</span>
                            </div>
                            <div class="chart-info">
                                <span class="decrease"></span>
                                <span>未到</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% endcomment %}
            </div>
            <div class="col-lg-8">
                <!--work progress start-->
                <section class="panel">
                    <div class="panel-body progress-panel">
                        <div class="task-progress">
                            <h1>签到日志</h1>
                            <p>{{ lessondata.course.title }}</p>
                        </div>
                    </div>
                    <table class="table table-hover personal-task">
                        <thead>
                        <tr>
                            <th>次数</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>到达比例</th>
                            <th>应到人数</th>
                            <th>实到人数</th>
                            <th>新签入人数</th>
                            <th>离开人数</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cr in checkinrecord %}
                            <tr>
                                <td>{{ cr.time }}</td>
                                <td>
                                    {{ cr.starttime|date:'H:i:s' }}
                                </td>
                                <td>
                                    {{ cr.endtime|date:'H:i:s'|default:'还未结束' }}
                                </td>
                                <td>
                                    {% widthratio cr.actuallynumber cr.shouldnumber 100 %}%
                                </td>
                                <td>{{ cr.shouldnumber|default:'无数据' }}</td>
                                <td>{{ cr.actuallynumber|default:'无数据' }}</td>
                                <td>{{ cr.newnumber|default:'无数据' }}</td>
                                <td>{{ cr.leavenumber|default:'无数据' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </section>
                <!--work progress end-->
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading tab-bg-dark-navy-blue ">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#studentlist" aria-expanded="true">学生列表</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#askstudentlist" aria-expanded="false">请假学生</a>
                            </li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="studentlist" class="tab-pane active">
                                <table class="table table-striped table-advance table-hover">
                                    <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>学号</th>
                                        <th>班级</th>
                                        <th>专业</th>
                                        <th>系所</th>
                                        <th>状态</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for s in checkindata %}
                                        <tr id="sl{{ s.student.studentid }}" data-studentid="{{ s.student.studentid }}"
                                            data-status="{{ s.status }}">
                                            <td>{{ s.student.name }}</td>
                                            <td>{{ s.student.studentid }}</td>
                                            <td>{{ s.student.classid.name }}</td>
                                            <td>{{ s.student.classid.major.name }}</td>
                                            <td>{{ s.student.classid.department.name }}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button data-toggle="dropdown"
                                                            class="btn btn-{{ s.status | CHECKIN_STATUS_STYLE }} dropdown-toggle btn-xs"
                                                            type="button"
                                                            aria-expanded="false">{{ s.status | CHECKIN_STATUS }}
                                                    </button>
                                                    {% if not lessondata.checkinnow %}
                                                        <ul role="menu" class="dropdown-menu dropdown-menu-right"
                                                            style="min-width:70px;">
                                                            <li>
                                                                <a href="#" class="set-success">正常</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="set-late">迟到</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="set-early">早退</a>
                                                            </li>
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <div id="askstudentlist" class="tab-pane">
                                <table class="table table-striped table-advance table-hover">
                                    <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>学号</th>
                                        <th>班级</th>
                                        <th>专业</th>
                                        <th>系所</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for s in askdata %}
                                        <tr id="sl{{ s.student.studentid }}" data-studentid="{{ s.student.studentid }}"
                                            data-status="0">
                                        <td>{{ s.student.name }}</td>
                                        <td>{{ s.student.studentid }}</td>
                                        <td>{{ s.student.classid.name }}</td>
                                        <td>{{ s.student.classid.major.name }}</td>
                                        <td>{{ s.student.classid.department.name }}</td>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    {% endif %}



    <div class="modal fade modal-dialog-center top-modal-with-space" id="LessonCloseModal" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">操作提示</h4>
                    </div>
                    <div class="modal-body">

                        确认结束课程?

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                        <a href="{% url 'course:control.stoplesson' %}?lessonid={{ lessondata.id }}">
                            <button class="btn btn-warning" type="button"> 确认</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_script %}
    <script>
        var numberData = [
            {
                value: {{ checkin_success }},
                color: "#6CCAC9",
                highlight: "#90CAC9",
                label: "正常"
            }, {
                value: {{ checkin_normal }},
                color: "#797979",
                highlight: "#A09F9F",
                label: "未到"
            }, {
                value: {{ asknumber }},
                color: "#57C8F2",
                highlight: "#79CDEC",
                label: "请假"
            }, {
                value: {{ checkin_late }},
                color: "#FF6C60",
                highlight: "#F38F86",
                label: "迟到"
            }, {
                value: {{ checkin_early }},
                color: "#F38630",
                highlight: "#F39A54",
                label: "早退"
            }, {
                value: {{ checkin_lateearly }},
                color: "#FFAD60",
                highlight: "#F3BF8F",
                label: "迟到早退"
            }
        ];
        var chart = document.getElementById("numberData").getContext("2d");
        new Chart(chart).Pie(numberData);

        {% CHECKIN_STATUS_JSON as checkin_status_json %}
        var checkin_status_json ={{ checkin_status_json|safe }};
        {% CHECKIN_STATUS_STYLE_JSON as checkin_status_style_json %}
        var checkin_status_style_json ={{ checkin_status_style_json|safe }};

        function changestatus(studentid, status) {
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '{% url 'checkin:changecheckinstatus' lessondata.id %}',
                data: {
                    'studentid': studentid,
                    'newstatus': status
                },
                success: function (value) {
                    if (value.error && value.error != 0) {
                    } else {
                        $("#sl" + studentid).data("status", value.status);
                        $("#sl" + studentid + " td:eq(5) button").removeClass("btn-danger");
                        $("#sl" + studentid + " td:eq(5) button").removeClass("btn-success");
                        $("#sl" + studentid + " td:eq(5) button").addClass("btn-"+checkin_status_style_json[value.status]);
                        $("#sl" + studentid + " td:eq(5) button").text(checkin_status_json[value.status]);
                    }
                },
                error: function () {

                }
            });
        }


        $(".set-late").click(function () {
            changestatus($(this).parents('tr').data("studentid"), 'late');
        });
        $(".set-success").bind('click', function () {
            changestatus($(this).parents('tr').data("studentid"), 'success');
        });
        $(".set-early").bind('click', function () {
            changestatus($(this).parents('tr').data("studentid"), 'early');
        });
    </script>
{% endblock %}