{% extends 'base.html' %}
{% load center_extra %}
{% load course_extra %}
{% block title %}首页{% endblock %}
{% block page_css %}
    <style>
        table {
            border: 2px solid transparent !important;
        }
    </style>
{% endblock %}
{% block content %}
    <section class="panel">
        <header class="panel-heading">
            当前学期:{{ term.term }}
        </header>
    </section>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-tags"></i></span>
                {% if request.user.isteacher %}
                    <div class="info-box-content">
                        <span class="info-box-text">未判作业</span>
                        <span class="info-box-number">{{ unscorehomework }}</span>
                    </div>
                {% else %}
                    <div class="info-box-content">
                        <span class="info-box-text">未交作业</span>
                        <span class="info-box-number">{{ uncommithomework|length }}</span>
                    </div>
                {% endif %}
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-book"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">今日课程</span>
                    <span class="info-box-number">{{ todaylesson | length }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-calendar-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">本周课程</span>
                    <span class="info-box-number">{{ weeklesson|length }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-bar-chart-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">学期课程</span>
                    <span class="info-box-number">{{ termcourse|length }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Custom Tabs (Pulled to the right) -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li class=""><a href="#tab_3-2" data-toggle="tab" aria-expanded="false">学期
                        <d class="hidden-xs">课程</d>
                    </a></li>
                    <li class=""><a href="#tab_2-2" data-toggle="tab" aria-expanded="false">本周
                        <d class="hidden-xs">课程</d>
                    </a></li>
                    {% if uncommithomework %}
                        <li><a href="#tab_1-1" data-toggle="tab" aria-expanded="false">今日
                            <d class="hidden-xs">课程</d>
                        </a></li>
                        <li class="active"><a href="#tab_0-0" data-toggle="tab" aria-expanded="true">
                            <d class="hidden-xs">未交</d>
                            作业</a></li>
                    {% else %}
                        <li class="active"><a href="#tab_1-1" data-toggle="tab" aria-expanded="true">今日
                            <d class="hidden-xs">课程</d>
                        </a></li>
                    {% endif %}
                    <li class="pull-left header"><i class="fa fa-th"></i>
                        <d class="hidden-xs">课程</d>
                        信息
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane {% if uncommithomework %}active{% endif %}" id="tab_0-0">
                        {% if uncommithomework %}
                            <table class="table">
                                <tbody>
                                {% for uch in uncommithomework %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            <a href="{% url 'course:homework' uch.course.id %}?homeworkid={{ uch.id }}">{{ uch.title }}</a>
                                        </td>
                                        <td class="hidden-xs">
                                            <a href="{% url 'course:information' uch.course.id %}">{{ uch.course.title }}</a>
                                        </td>
                                        <td class="hidden-xs">{{ uch.type|COURSE_HOMEWORK_TYPE }}</td>
                                        <td>
                                            <d class="hidden-xs">{{ uch.deadline|date:'Y-m-d H:i' }}</d>
                                            {% if uch.isend %}<span class="badge bg-red">已过期</span>{% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="text-center">没有未完成作业</div>
                        {% endif %}
                    </div>
                    <div class="tab-pane {% if not uncommithomework %}active{% endif %}" id="tab_1-1">
                        {% if todaylesson %}
                            <table class="table">
                                <tbody>
                                {% for lesson in todaylesson %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            {% if request.user.isteacher %}
                                                <a href="{% url 'course:information' lesson.course.id %}?lessonid={{ lesson.id }}">{{ lesson.course.gettitlewithclass }}</a>
                                            {% else %}
                                                <a href="{% url 'course:information' lesson.course.id %}?lessonid={{ lesson.id }}">{{ lesson.course.title }}</a>
                                            {% endif %}
                                        </td>
                                        <td>第{{ lesson.time }}-{{ lesson.time|add:lesson.length|add:-1 }}节</td>
                                        <td class="hidden-xs">{{ lesson.classroom.location|default:'' }}</td>
                                        <td class="hidden-xs">
                                            <small class="label label-{{ lesson.status|LESSON_STATUS_STYLE }}">{{ lesson.status|LESSON_STATUS }}</small>
                                        </td>
                                        {% if request.user.isteacher %}
                                            <td>
                                                {% if lesson.status|LESSON_STATUS == '未开始' %}
                                                    <a class="btn btn-xs btn-info hidden-xs"
                                                       href="{% url "course:control.startlesson" %}?lessonid={{ lesson.id }}">开启课程</a>
                                                {% elif lesson.status|LESSON_STATUS == '正在签到' or lesson.status|LESSON_STATUS == '正在上课' %}
                                                    <a class="btn btn-xs btn-info"
                                                       href="{% url 'checkin:lesson_data' lesson.id %}">进入考勤</a>
                                                {% endif %}
                                                {% if lesson.checkincount == 0 %}
                                                    <a class="btn btn-xs btn-warning"
                                                       href="{% url "checkin:startcheckin" lesson.id %}?mode=startfirst">快速考勤</a>
                                                {% endif %}
                                                <a class="btn btn-xs btn-default hidden-xs"
                                                   href="{% url 'course:resource' lesson.course.id %}">资源</a>
                                                <a class="btn btn-xs btn-default hidden-xs"
                                                   href="{% url 'course:homework' lesson.course.id %}">作业</a>
                                                <a class="btn btn-xs btn-default hidden-xs"
                                                   href="{% url 'course:sendmessage' lesson.course.id %}">群发</a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="text-center">今日没有课程</div>
                        {% endif %}
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2-2">
                        {% if weeklesson %}
                            <table class="table">
                                <tbody>
                                {% for lesson in weeklesson %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            <a href="{% url 'course:information' lesson.course.id %}">{{ lesson.course.title }}</a>
                                        </td>
                                        <td>{{ lesson.day|weekdeal }}
                                            第{{ lesson.time }}-{{ lesson.time|add:lesson.length|add:-1 }}节
                                        </td>
                                        <td class="hidden-xs">{{ lesson.classroom.location|default:'' }}</td>
                                        <td class="hidden-xs">
                                            <small class="label label-{{ lesson.status|LESSON_STATUS_STYLE }}">{{ lesson.status|LESSON_STATUS }}</small>
                                        </td>
                                        {% if request.user.isteacher %}
                                            <td class="hidden-xs">
                                                <a class="btn btn-xs btn-default"
                                                   href="{% url 'course:resource' lesson.course.id %}">资源</a>
                                                <a class="btn btn-xs btn-default"
                                                   href="{% url 'course:homework' lesson.course.id %}">作业</a>
                                                <a class="btn btn-xs btn-default"
                                                   href="{% url 'course:sendmessage' lesson.course.id %}">群发</a>
                                                <a class="btn btn-xs btn-default"
                                                   href="{% url 'course:course_data' lesson.course.id %}">数据</a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="text-center">本周没有课程</div>
                        {% endif %}
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3-2">
                        {% if termcourse %}
                            <table class="table" style="table-layout:fixed;">
                                <tbody>
                                {% for course in termcourse %}
                                    <tr>
                                        <td width="5%">{{ forloop.counter }}</td>
                                        <td style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis">
                                            <a href="{% url 'course:information' course.id %}">{{ course.title }}</a>
                                        </td>
                                        <td style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis"
                                            width="25%" class="hidden-xs">{{ course.time }}</td>
                                        <td style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis"
                                            width="15%" class="hidden-xs">{{ course.location|default:'' }}</td>
                                        <td width="10%" class="hidden-xs">
                                            <small class="label label-{{ course.status|COURSE_STATUS_STYLE }}">{{ course.status|COURSE_STATUS }}</small>
                                        </td>
                                        {% if request.user.isteacher %}
                                            <td class="visible-lg" width="20%">
                                                <a class="btn btn-xs btn-default"
                                                   href="{% url 'course:resource' course.id %}">资源</a>
                                                <a class="btn btn-xs btn-default"
                                                   href="{% url 'course:homework' course.id %}">作业</a>
                                                <a class="btn btn-xs btn-default"
                                                   href="{% url 'course:sendmessage' course.id %}">群发</a>
                                                <a class="btn btn-xs btn-default"
                                                   href="{% url 'course:course_data' course.id %}">数据</a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="text-center">本学期没有课程</div>
                        {% endif %}
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
{% endblock %}
{% block page_script %}

{% endblock %}