{% extends 'base.html' %}
{% load center_extra %}
{% load course_extra %}
{% block title %}首页{% endblock %}

{% block content %}
    <section class="panel">
        <header class="panel-heading">
            当前学期:{{ term.term }}
        </header>

    </section>



    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-tags"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">已上课程</span>
                    <span class="info-box-number">{{ alreadycount }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-book"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">今日课程</span>
                    <span class="info-box-number">{{ todaylesson | length }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-calendar-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">本周课程</span>
                    <span class="info-box-number">{{ weeklesson|length }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-bar-chart-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">学期课程</span>
                    <span class="info-box-number">{{ termcourse|length }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>


    <div class="row">


        <div class="col-md-12">
            <!-- Custom Tabs (Pulled to the right) -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li class=""><a href="#tab_3-2" data-toggle="tab" aria-expanded="false">学期</a></li>
                    <li class=""><a href="#tab_2-2" data-toggle="tab" aria-expanded="false">本周</a></li>
                    <li class="active"><a href="#tab_1-1" data-toggle="tab" aria-expanded="true">今日</a></li>
                    <li class="pull-left header"><i class="fa fa-th"></i> 课程信息</li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1-1">
                        {% if todaylesson %}
                            <table class="table">
                                <tbody>
                                {% for lesson in todaylesson %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            {% if request.user.isteacher %}
                                                <a href="{% url 'course:information' lesson.course.id %}?lessonid={{ lesson.id }}">{{ lesson.course.gettitlewithclass }}</a>
                                            {% else %}
                                                <a href="{% url 'course:information' lesson.course.id %}">{{ lesson.course.title }}</a>
                                            {% endif %}
                                        </td>
                                        <td>第{{ lesson.time }}-{{ lesson.time|add:lesson.length|add:-1 }}节</td>
                                        <td>{{ lesson.classroom.location|default:'' }}</td>
                                        <td>
                                            <small class="label label-{{ lesson.status|LESSON_STATUS_STYLE }}">{{ lesson.status|LESSON_STATUS }}</small>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="text-center">今日没有课程</div>
                        {% endif %}
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2-2">
                        {% if weeklesson %}
                            <table class="table">
                                <tbody>
                                {% for lesson in weeklesson %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            <a href="{% url 'course:information' lesson.course.id %}">{{ lesson.course.title }}</a>
                                        </td>
                                        <td>{{ lesson.day|weekdeal }}
                                            第{{ lesson.time }}-{{ lesson.time|add:lesson.length|add:-1 }}节
                                        </td>
                                        <td>{{ lesson.classroom.location|default:'' }}</td>
                                        <td>
                                            <small class="label label-{{ lesson.status|LESSON_STATUS_STYLE }}">{{ lesson.status|LESSON_STATUS }}</small>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="text-center">本周没有课程</div>
                        {% endif %}
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3-2">
                        {% if termcourse %}
                            <table class="table">
                                <tbody>
                                {% for course in termcourse %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            <a href="{% url 'course:information' course.id %}">{{ course.title }}</a>
                                        </td>
                                        <td>{{ course.time }}</td>
                                        <td>{{ course.location|default:'' }}</td>
                                        <td>
                                            <small class="label label-{{ course.status|COURSE_STATUS_STYLE }}">{{ course.status|COURSE_STATUS }}</small>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="text-center">本学期没有课程</div>
                        {% endif %}
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>


{% endblock %}

{% block page_script %}

{% endblock %}